@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" );

*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins' , sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url('images/amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
    padding: 3px;
}

.border:hover{
    border: 2px solid white;
}

/*Box 2*/

.add-first{
    color: #cccccc;
    font-size: 0.8rem;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*Box 3*/

.nav-search{
    display: flex;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px ;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 9px;
}
.search-icon{
   width: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   background: #febd68;
   border-top-right-radius:4px;
   border-bottom-right-radius: 4px;
   color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/*Box - 4*/
.nav-lang{
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.nav-lang i {
    font-size: 30px;
}

/*Box 5*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*Box 6*/

.nav-cart i {
     font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/*Panel*/

.panel{
    height: 39px;
    background: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin-left: 12px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/*Hero Section*/

.hero-section{
    background-image: url('images/hero_image.jpg');
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   width: 80%;
   margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/*Shop section*/

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box-img{
    height: 280px;
    padding: 20px 0px 15px;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
 color: #007185;
}
.box-content h2{
    padding-top: 5px;
}
/*Footer*/
footer{
    margin-top: 15px;

}

.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 40px;
}
ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url('images/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 20px;
}
.pages{
   padding-top: 25px;
}
.copy-right{
    padding-top: 5px;
}
/*Media Queires*/
/*Laptops*/
@media (min-width:999px) and (max-width:1100px) {
    .nav-search{
        width: 450px;  
    }
    .hero-msg{
        width: 60%;
        text-align: center;
    }
    .box-content h2{
        font-size: 18px;
    }
    .box-img{
        height: 250px;
        background-size: cover;
    }.box{
        height: 380px;
        width: 23.5%;
        background-color: white;
        margin-top: 10px;
    }

}  
/*Tablets*/
@media (min-width:740px) and (max-width:999px){
    .nav-search{
        width: 380px;  
    }
    .hero-msg{
        width: 60%;
        text-align: center;
    }
    .box-content h2{
        font-size: 18px;
    }
    .box-img{
        height: 250px;
        background-size: cover;
    }.box{
        height: 380px;
        width: 45%;
        background-color: white;
        margin-top: 10px;
    }
    

}
/*Moblie*/
@media (min-width:540px) and (max-width:740px){
    .nav-search{
        width: 380px;  
    }
    .hero-msg{
        width: 60%;
        text-align: center;
    }
    .box-content h2{
        font-size: 18px;
    }
    .box-img{
        height: 250px;
        background-size: cover;
    }.box{
        height: 380px;
        width: 45%;
        background-color: white;
        margin-top: 10px;
    }

}